@{
    ViewBag.Title = "Index";
}
@model WebApplication1.Models.UserRegister

<div class="container">
    <section id="login">
        <div class="row">
            <div class="col-sm-6 brand mt-5 mb-5">
                <div class="heading">
                    <h2>Made With Love</h2>
                    <p>Your Right Choice</p>
                </div>

                <div class="success-msg">
                    <p>Great! You are one of our members now</p>
                    <a href="#" class="profile">Your Profile</a>
                </div>
            </div>
            <div class="col-sm-6 form">
                <div class="signup form-peice">
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form class="signup-form" action="#" method="post">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Username)
                                @Html.TextBoxFor(m => m.Username, new
                           {
                               placeholder = "",
                               title = "Please enter you username",
                               value = "",
                               name = "username",
                               id = "username",
                               @class = "form-control"
                           })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Password, new
                           {
                               @class = "form-control",
                               type = "password",
                               title = "Please enter your password",
                               placeholder = "",
                               value = "",
                               name = "password",
                               id = "password"
                           })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new
                                    {
                                        @class = "form-control",
                                        type = "email",
                                        title = "Please enter your email",
                                        placeholder = "",
                                        value = "",
                                        name = "email",
                                        id = "email"
                                    })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Phone, new
                                    {
                                        @class = "form-control",
                                        type = "tel",
                                        title = "Please enter your phone number",
                                        placeholder = "",
                                        value = "",
                                        name = "phone",
                                        id = "phone"
                                    })
                            </div>


                            <div class="CTA">
                                <input type="submit" value="Signup Now" id="submit">
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
</div>